@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

input:focus {
  outline: none; }

button {
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease; }

a {
  text-decoration: none;
  display: inline-block; }

body {
  margin: 0; }

p, a {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif; }

.container {
  max-width: 1366px;
  padding: 0 24px;
  margin: 0 auto; }

.header {
  border-bottom: 1px solid #F1F1F1; }
  .header__content {
    display: flex;
    justify-content: space-between; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo a {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #111111; }
  .header__nav {
    display: flex;
    align-items: center;
    font-size: 0; }
    .header__nav a {
      color: rgba(17, 17, 17, 0.48);
      padding: 26px 12px;
      display: inline-block;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px; }
      .header__nav a.active {
        color: #111111;
        border-bottom: 2px solid #6E41E2; }
  .header .user {
    margin-left: 56px;
    display: flex;
    align-items: center; }
    .header .user__ava {
      margin-left: 12px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #F1F1F1;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header .user p {
      font-size: 16px;
      line-height: 24px;
      color: #6E41E2; }

.course > .container {
  max-width: 81%;
  margin: 0 auto;
  padding: 0 24px; }

.course__title {
  padding-top: 40px;
  margin-bottom: 20px; }
  .course__title .box {
    max-width: 777px; }
  .course__title h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 12px; }
  .course__title p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000; }

.search label {
  position: relative;
  display: inline-block; }
  .search label:before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background: url(../images/Vector.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 12px;
    top: 19px; }
  .search label input {
    font-weight: normal;
    font-size: 16px;
    padding: 16px 12px;
    line-height: 24px;
    color: rgba(17, 17, 17, 0.48);
    border: none;
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08), 0px 4px 4px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    padding-left: 44px; }
    .search label input::-webkit-input-placeholder {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: rgba(17, 17, 17, 0.48); }

.card {
  max-width: 400px; }
  .card__top {
    width: 100%;
    display: block;
    height: 134px;
    background: url("../images/image 10.png") no-repeat center;
    background-size: cover;
    position: relative; }
    .card__top:before {
      contnt: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.72) 93.75%);
      top: 0;
      left: 0; }
  .card__title {
    margin-bottom: 16px; }
    .card__title h4 {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #111111; }
  .card__terms {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px; }
    .card__terms .item {
      display: flex;
      align-items: center; }
      .card__terms .item .icon {
        margin-right: 8px; }
      .card__terms .item p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #111111; }

.btn {
  color: #6E41E2;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

.btn.continue {
  border-radius: 8px;
  border: 1px solid #6E41E2;
  margin-right: 10px;
  padding: 9px 26px; }
  .btn.continue:hover {
    background-color: #6E41E2;
    color: #fff; }

.btn.more {
  padding: 9px 25px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 8px; }
  .btn.more:hover {
    border-color: #6E41E2; }
